body {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	width: 100%;
}

p{
	color: #757575;
}
a, a:active, a:focus{
	text-decoration: none;
	outline: none;
}

/* -------NAVIGATION----------------------------*/
.banner {
	width: 100%;
	height: 600px;
	background: url("../images/banner.jpg") center center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

.logo {
	width: 80px;
	height: 50px;
	background: url("../images/logo.svg") no-repeat center center;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}

nav {
	display: inline-block;
	float: right;
	padding: 20px 50px 0 0;
	letter-spacing: 5px;	
}

nav  a {
	margin-left: 15px;
	color: #fff;
	transition: color .4s ease-out;
	font-size: 1em;

}

nav a:hover{
	color: rgba(0,0,0,0.5);
}
.go-to {
	width: 50px;
	height: 50px;
	background: url("../images/arrows.svg") center center;
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 50px;
	decoration: none;
	transition: transform .5s;
}

a.go-to:hover{
	transform: rotate(360deg);
}


/*----------------MAIN---------------------------*/

#wrapper{
	width: 70%;
	margin: 0 auto;
	position: relative;
}

article{
	width: 100%;
}
#about{
	padding-top: 50px;
}

#about::after{
	content: '';
	display: block;
	clear: both;
}

aside.first{
	width: 70%;
	float: right;
	height: 250px;
	overflow: auto;
}

.first > p{
	font-style: italic;
	margin: 0;
	padding-left: 20px;
	padding-bottom: 5px;
	text-align: justify;
	font-size: 1em;
	font-family: sans-serif;
}
.first > h1 {
	color: #535353;
	font-size: 2em;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
}
.person {
	width: 28%;
	height: 250px;
	background: url("../images/people.svg") no-repeat;
	float: left;
	padding: 0;
	margin: 0;
}


/*-----------FOOTER-----------------*/

footer{
	background: url("../images/man.jpg") ;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100px;
}

.footer-nav {
	display: inline-block;
	float:left;
	padding-top: 40px;
	padding-left: 20px;
}

.content > p {
	float: right;
	padding-top: 20px;
	padding-right: 40px;
	color: #fff;
	font-size: 1em;

}




